header{
    background-color: var(--color-fondo-secundario);
}
footer{
    background-color: rgb(58, 57, 57);
    color: gray;
}
#contacto{
    color: white;
}
a:hover{
    color: var(--color-acento);
}