:root {
--color-primario: floralwhite;
--color-secundario: orange;
--color-acento: navy;
--color-fondo: antiquewhite;
--color-fondo-secundario: rgb(250, 174, 34);
--color-texto: maroon;
}

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    
}

body{
    color: var(--color-texto) ;
    background-color: var(--color-fondo);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
h1{
    font-size: 3em;
    color: var(--color-primario);
}
h2, h3 {
    color: var(--color-secundario) ;
    font-size: 2rem ;
    text-align: center;
}
p{
    text-align: center;
}

header {
    background-color: var(--color-fondo-secundario);
    padding: 1.5rem;
    text-align: center;
}

nav {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--color-acento);
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-fondo);
}

footer {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

footer a {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--color-texto);
}